!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= "Copa Ruby Tour Sur - Argentina 2011"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{ :rel => "stylesheet", :href => "/website.css" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
  %body
    %a{:href => "http://rubyconfargentina.org", :style => "position: absolute; top: 0; left: 0;", :target => "_blank", :title => "Attending Rubyconf Argentina | Nov. 8 + 9 2011"}
      #rubyconf_badge{:style => "z-index: 99; background-image: url('http://rubyconfargentina.org/images/badges/rubyconf_badge.png');position: absolute; width: 298px; height: 100px;"}

    #wrapper
      #content
        #website-title
          Copa Ruby Tour Sur 
          = Time.now.year
        #website-text
          %p
            En este sitio te puedes inscribir para los partidos de futbol previos a la 
            %strong=link_to "RubyConf Argentina #{Time.now.year}", "http://rubyconfargentina.org/"
          %p
            Para participar solo tienes que inscribirte en este sitio. 
          %p
            El único requerimiento es que estés pre-registrado o registrado en 
            %strong=link_to "RubyConf Argentina #{Time.now.year}", "http://rubyconfargentina.org/"

        %form{:action => "/players", :method => :post}
          - m = flash
          - if m or @player.errors.any?
            .messages            
              - if m
                .message.info= m
              - if @player.errors.any?
                - @player.errors.each do |message|
                  .message.error= message

          %ul.form
            %li.form-field
              %label{:for => "player[email]"} Email:
              %input{:type => "text", :name => "player[email]", :class => "text", :value =>@player.email}
            %li.form-field
              %label{:for => "player[twitter]"} Twitter:
              %input{:type => "text", :name => "player[twitter]", :class => "text", :value => @player.twitter }
            %li.form-field
              %label{:for => "player[country]"} Pa&iacute;s:
              %select{:name => "player[country]"}
                - ["Argentina","Uruguay","Brasil"].each do |i|
                  %option{:value => i}= i

          %input{:type => "submit", :value => "Send", :class => "button"}

        #players
          - players.group_by{|c| c.country }.each do |country, players|
            .country
              .name= country

              %ul
                - players.each do |player|
                  %li
                    = player.name
