!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= "Copa Ruby Tour Sur - Argentina 2011"
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{ :rel => "stylesheet", :href => "public/styles/website.css" }
    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
  %body
    %a{:href => "http://rubyconfargentina.org", :style => "position: absolute; top: 0; left: 0;", :target => "_blank", :title => "Attending Rubyconf Argentina | Nov. 8 + 9 2011"}
      #rubyconf_badge{:style => "z-index: 99; background-image: url('http://rubyconfargentina.org/images/badges/rubyconf_badge.png');position: absolute; width: 298px; height: 100px;"}
    #wrapper
      #content
        #website-title
          Copa Ruby Tour Sur 
          = Time.now.year
        #website-text
          %p
            En este sitio te podes inscribis para los partidos de futbol previos a la Ruby Conf Argentina 
            = Time.now.year
          %p
            Para participar en los partidos de futbol solo tenes que inscribirte en este sitio, el único requerimiento es que 
            estes pre-registrado o resgitrado en RubyConfar
        .messages
          %strong
            - unless session["message"].nil?
              - session["message"].split(",").each do |m|
                = m
                %br
        %form{:action => "/players", :method => :post}
          %ul.form
            %li.form-field
              %label{:for => "player[name]"} Nombre:
              %input{:type => "text", :name => "player[name]", :class => "text"}
            %li.form-field
              %label{:for => "player[mail]"} eMail:
              %input{:type => "text", :name => "player[mail]", :class => "text"}
            %li.form-field
              %label{:for => "player[twitter]"} Twitter:
              %input{:type => "text", :name => "player[twitter]", :class => "text"}
            %li.form-field
              %label{:for => "player[country]"} Pa&iacute;s:
              %select{:name => "player[country]"}
                - ["Argentina","Uruguay","Brasil"].each do |i|
                  %option{:value => i}= i

          %input{:type => "submit", :value => "Send", :class => "button"}
        #players
          - @players.group_by{|c| c.country}.each do |country, players|
            .country
              = country
              %br
              %ul
                - players.each do |player|
                  %li
                    = player.name
